---
import Layout from '../layouts/Layout.astro';
import LandingTitle from '../components/svelte/landing/title.svelte';
import BgLines from "@components/svelte/bg-lines.svelte";
import LandingIntro from '@/components/svelte/landing/intro.svelte';
import Text from '@/components/svelte/landing/text.svelte';
import CornerPortrait from "@/components/svelte/landing/corner-portrait.svelte";
import Navbar from "@/components/svelte/landing/nav.svelte";
import Heading from '@/components/svelte/listing/heading.svelte';
import EffioLanding from '@/components/svelte/projects/effio-landing.svelte';
---

<Layout title="Homepage">
	<!-- Landing -->
	<!-- <div class="w-full h-screen py-16 flex flex-col">
		<Navbar client:load />
		<div class="flex h-full">
			<div class="self-center flex-1">
				<Text client:load />
			</div>
			<div class="self-end">
				<CornerPortrait client:load />
			</div>
		</div>
	</div> -->
	<!-- Projects -->
	<Heading number={1} title="Projects" client:load />
	<EffioLanding />
		<!-- <LandingTitle client:load /> -->
	 <!-- <BgLines client:load /> -->
		<!-- <LandingIntro client:load /> -->
</Layout>