---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* COLORS */
		--background: #171717;
		--secondary: #444444;
		--primary: #DA0037;
		--text: #EDEDED;

		/* TYPOGRAPHY */
		--h1: 53.8px;
		--h2: 44.8px;
		--h3: 37.3px;
		--h4: 31.1px;
		--h5: 25.9px;
		--h6: 21.6px;
		--body: 18px;
		--small: 15px;
	}
</style>
